.home {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  margin: 0;
  /* border: 1px solid black; */
}
.AllMoviesAZTitle {
  width: 90%;
  margin-top: 20px;
}
.firstMovies {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  wrap: 5px;
  justify-content: left;
}

.cardMovies {
  display: flex;
}
