.home {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  margin: 0;
  /* border: 1px solid black; */
}
.AllMoviesAZTitle {
  width: 90%;
  margin-top: 20px;
}
.firstMovies {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  wrap: 5px;
  justify-content: left;
}

.cardMovies {
  display: flex;
}
.btnCreate {
  font-size: 30px;
  text-decoration: none;
}
.btnCreate Link {
  font-size: 30px;
  text-decoration: none;
}

.modal-overlay .btnForm {
  padding: 10px 20px;
  margin-top: 1rem;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
