.cardActor {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column; /* Alterado para coluna para empilhar os elementos verticalmente */
  justify-content: space-between;
}
.optionsActor {
  width: 200px;
  height: 100px;
}
.infoActor {
  list-style: none;
}
.infoActor li {
  font-size: 13px;
}
.titleActor .titleActor {
  font-size: 20px;
}
