.cardMovie {
  /* border: 1px solid black; */
  width: 500px;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column; /* Alterado para coluna para empilhar os elementos verticalmente */
  justify-content: space-between;
}

.infoMovie {
  margin: 0;
  display: block;
  padding: 0px;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 90px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 36%,
    rgba(68, 20, 50, 1) 53%,
    rgba(97, 12, 76, 1) 81%,
    rgba(255, 0, 91, 1) 100%
  );
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoMovielista {
  list-style: none;
}
.infoMovielista li {
  color: white;
  font-size: 13px;
}
.infoMovielista .title {
  font-size: 20px;
}
.fotoCapa {
  width: 100%;
}
.btnVerMais {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.btnVerMais:hover {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  z-index: 9999; /* Colocar o modal acima de todos os outros elementos */
}

.modal {
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  height: 50%;
  z-index: 10000; /* Garantir que o modal esteja acima do overlay */
}

.close {
  position: absolute;
  right: 40%;
  top: 34%;
  font-size: 15px;
  color: white;
  background: black;
  border-radius: 50%;
  padding: 4px 10px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-overlay .btnForm {
  padding: 10px 20px;
  margin-top: 1rem;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.actorsLinked {
  background: black;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.actorsLinked li {
  padding: 5px 5px;
}
